/* UNIVERSAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;x vb
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* REMIKOOL STYLES */

/* HEADER STYLES */

header .container {
  width: 80%;
  margin: 30px auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav button {
  border: none;
  border-radius: 10px;
  padding: 1rem 3rem;
}

nav button:hover {
  background-color: hwb(36 1% 91% / 0.726); /* Dark Brown */
  color: white;
}

nav .navMenu {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
  height: 15vh;
  margin: auto;
  font-weight: 400;
  
}

nav .navLogo {
  width: 200px;
}

/* DEBEST STYLES */

/* ANGELUSBILLS STYLES */

/* VICTOR EBEGBUNA STYLES */

/* SMATT STYLES */
#sectionFour .sectionOne {
  background-color: #f8fafd;
  color: #1d1d1d;
}

#sectionFour .container {
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

#sectionFour h2,
#sectionFour p,
#sectionFour ul {
  margin-bottom: 3rem;
}

#sectionFour h2 {
  font-size: 4rem;
  font-family: "Abril Fatface", cursive;
  line-height: 1.2;
  word-spacing: 0.15rem;
  max-width: 50rem;
}

#sectionFour .pink {
  color: #eb7da7;
}

#sectionFour .blue {
  color: #6672c7;
}

#sectionFour p,
#sectionFour li {
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 40rem;
}

#sectionFour li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

#sectionFour li::before {
  content: "";
  background-color: #262c55;
  border-radius: 100%;
  height: 1.1rem;
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: 2rem;
}

#sectionFour button {
  padding: 1.5rem 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #0a0e27;
  color: #fff;
  border: none;
  border-radius: 10px;
}

/* #sectionFour img {
  width: 100%;
}

#sectionFour .marquee {
  position: relative;
}

#sectionFour .globe {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: none;
  background-color: #0a0e27;
  position: absolute;
  top: 135px;
  right: 135px;
}

#sectionFour .earth {
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  z-index: 10;
} */

#sectionFour .sectionThree {
  background-color: #fff;
  display: grid;
  place-items: center;
}

#sectionFour .card {
  background-color: #1d1d1d;
  color: #fff;
  padding: 5rem 10rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 25px 50px rgba(29, 29, 29, 0.5);
  max-width: 100rem;
}

#sectionFour .btn1 {
  background-color: #fff;
  color: #000;
}

#sectionFour .btn2 {
  background-color: transparent;
  color: #fff;
}


/* REMIKOOL STYLES */

/* FOOTER STYLES */

.afooter {
      padding-top: 70px;
     position: relative;
 }
 .footer-list {
  padding: 50px 0;
  list-style: none;
  padding-left: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

.ct-section_header--type3 {
  text-align: center;
}

.footer-pre {
  width: 100%;
  padding-bottom: 55px;
  border-bottom: 1px solid #e4dada;
  border-bottom: 1px solid hwb(0 82% 17% / 0.1);
}

.footer-pre span {
  font-family: 'Open Sans Condensed', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ebebeb;
  font-size: 30px
}

.footer-pre .form-group {
  position: relative;
  margin: 0;
}

.footer-pre .form-group:before,
.footer-pre .form-group:after {
  content: '';
  display: table
}

.footer-pre .form-group:after {
  clear: both
}

footer-pre .form-group input {
  border: 1px solid #6c8580;
  background-color: #e69d9d;
  color: #fff;
  height: 50px;
  padding: 0 30px;
  margin: 0 5px;
  border-radius: 0 !important;
}

.footer-list > li .footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif. 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #21D1B2;
  font-size: 30px
}

.footer-list > li ul {
  list-style: none;
  padding-left: 0;
}

.footer-list > li ul li a {
  color: #130404;
}

.footer-list > li ul li a:hover {
  text-decoration: underline
}

.footer-post .inner-left,
.footer-post .inner-right {
  padding: 20px 0;
  font-weight: 600px;
  font-size: 18px
}

.footer-post ul {
  list-style: none;
  padding-left: 0;
  margin: 0 -20px;
}

.footer-post ul li {
  display: inline-block;
  margin: 0 20px
}

.footer-post a {
  color: #fff;
}

.footer-post a:hover {
  text-decoration: underline
}

.footer-post p {
  color: #fff;
}
 
.ct-section_header--type2 img {
  display: inline-block;
  float: right;
  position: relative;
  top: 15px;
  padding-right: 3px
}

.ct-section_header--type3 {
  text-align: center;
}

.ct-section_header--type3 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  padding: 15px 0;
  font-weight: 700;
  color: #fff;
  background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block
}

.ct-section_header--type3 span {
  font-family: 'Bebas Neue';
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: .85
}
.ct-section_header + p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}

@media (max-width:479px) {
  .ct-section_header + p {
      font-size: 22px
  }
}

.ct-section_header--type4 + p {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width:479px) {
  .ct-section_header--type4 + p {
      font-size: 28px
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
  height: 15vh;
  margin: auto;
  font-weight: 500;
  float: right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn1{
  background-color: #21D1B2;
}

.btn2 {
  background-color: #21D1B2
}

.btn1.btn1-violet:hover; :active {
  background-color: #37376b;
}

.btn2.btn2-violet:hover:active {
  background-color: #2f2f5b
}
