/* UNIVERSAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* REMIKOOL STYLES */

/* HEADER STYLES */

header .container {
  width: 80%;
  margin: 30px auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav button {
  border: none;
  border-radius: 10px;
  padding: 1rem 3rem;
}

nav button:hover {
  background-color: hsl(36 1% 91% / 0.726); /* Dark Brown */
  color: white;
}

nav .navMenu {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
  height: 15vh;
  margin: auto;
  font-weight: 400;
  
}

nav .navLogo {
  width: 200px;
}

/* DEBEST STYLES */
div {
  display: block;
}
.SectionOne {
  padding: 9rem 2rem;
  display: block;
}
.main {
  flex: 0 1 auto;
  padding: 2rem 2rem;
  display: block;
}
.hero_headinig {
  font-size: 5rem !important;
  line-height: 5.2rem !important;
}
.hero_heading {
  font-family: "Millik", sans-serif;
  font-size: 10rem;
  font-weight: 500;
  line-height: 7.8rem;
  margin-bottom: 3rem;
}
.c-or {
  color: #fb9129;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.hero_sub-heading {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 3.2rem;
  margin-bottom: 4rem;
  max-width: 61rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn__label {
  background-color: #0a0e27;
  box-sizing: 10px;
  font-size: 1.5rem;
  color: white;
  line-height: normal;
  margin: 0;
  padding: 1.5rem 1.9rem;
  display: inline-flex;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.column {
  width: 50%;
  display: block;
}
.container1 {
  padding: 0 16px;
}
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.sponsor::after {
  content: "";
  clear: both;
  display: table;
}
.ads {
  float: left;
  width: 16.6%;
  padding: 0;
}

/* ANGELUSBILLS STYLES */

/* VICTOR EBEGBUNA STYLES */

.section3{
  background-color: #1d1d1d;
  height: 1000px;
  width: 98%;
 background-position: center center;

}

.cards{
  padding-top: 100px;
  color: white;
  font-size: 80px;
  font-family: sans-serif;
  text-align: center;
  bottom: 90px;
}

.card{
  color: #6672c7;
}

.text1{
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  

}

.button{
   background-color: #fff;
  width: 250px;
  height: 90px;
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 600px;
  
}

.get{
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  padding-top: 30px;
}

.card-text{
  color: #fff;
  background-color: rgb(61, 57, 57);
  width: 600px;
 height: 250px;
  margin-left: 100px;
  margin-top: 30px;
  border-radius: 30px;

}

.card-text1{
  position: absolute;
  bottom: -20px;
  left: 160px;
  
}

.card-text2{
  position: absolute;
  left: 160px;
  bottom: -150px;
  font-size: 20px;
  

}

/* SMATT STYLES */
#sectionFour .sectionOne {
  background-color: #f8fafd;
  color: #1d1d1d;
}

#sectionFour .container {
  max-width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}

#sectionFour .sectionOne h2,
#sectionFour .sectionOne p,
#sectionFour .sectionOne ul {
  margin-bottom: 3rem;
}

#sectionFour h2,
#sectionOne h4 {
  font-size: 4rem;
  font-family: "Abril Fatface", cursive;
  line-height: 1.2;
  word-spacing: 0.15rem;
  max-width: 50rem;
}

#sectionFour .pink {
  color: #eb7da7;
}

#sectionFour .blue {
  color: #6672c7;
}

#sectionFour p,
#sectionFour li {
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 40rem;
}

#sectionFour li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

#sectionFour li::before {
  content: "";
  background-color: #262c55;
  border-radius: 100%;
  height: 1.1rem;
  left: 0;
  position: absolute;
  top: 0.5rem;
  width: 2rem;
}

#sectionFour button {
  padding: 1.5rem 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #0a0e27;
  color: #fff;
  border: none;
  border-radius: 10px;
}

#sectionFour img {
  width: 100%;
}

#sectionFour marquee {
  display: block;
  border-radius: 50%;
  height: 700px;
  width: 700px;
}

#sectionFour marquee img {
  height: 100%;
  width: 210%;
}

#sectionFour .sectionThree {
  background-color: #fff;
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}

#sectionFour .card {
  background-color: #1d1d1d;
  color: #fff;
  padding: 5rem 10rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 25px 50px rgba(29, 29, 29, 0.5);
  max-width: 100rem;
}

#sectionFour .btn1 {
  background-color: #fff;
  color: #000;
}

#sectionFour .btn2 {
  background-color: transparent;
  color: #fff;
}



/* REMIKOOL STYLES */

/* FOOTER STYLES */

.afooter {
      padding-top: 70px;
     position: relative;
 }
 .footer-list {
  padding: 50px 0;
  list-style: none;
  padding-left: 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid #555;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

.ct-section_header--type3 {
  text-align: center;
}

.footer-pre {
  width: 100%;
  padding-bottom: 55px;
  border-bottom: 1px solid #e4dada;
  border-bottom: 1px solid hsl(0 82% 17% / 0.1);
}

.footer-pre span {
  font-family: 'Open Sans Condensed', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ebebeb;
  font-size: 30px
}

.footer-pre .form-group {
  position: relative;
  margin: 0;
}

.footer-pre .form-group:before,
.footer-pre .form-group:after {
  content: '';
  display: table
}

.footer-pre .form-group:after {
  clear: both
}

footer-pre .form-group input {
  border: 1px solid #6c8580;
  background-color: #e69d9d;
  color: #fff;
  height: 50px;
  padding: 0 30px;
  margin: 0 5px;
  border-radius: 0 !important;
}

.footer-list > li .footer-list-header {
  font-family: 'Open Sans Condensed', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #21D1B2;
  font-size: 30px;
}

.footer-list > li ul {
  list-style: none;
  padding-left: 0;
}

.footer-list > li ul li a {
  color: #130404;
}

.footer-list > li ul li a:hover {
  text-decoration: underline
}

.footer-post .inner-left,
.footer-post .inner-right {
  padding: 20px 0;
  font-weight: 600px;
  font-size: 18px
}

.footer-post ul {
  list-style: none;
  padding-left: 0;
  margin: 0 -20px;
}

.footer-post ul li {
  display: inline-block;
  margin: 0 20px
}

.footer-post a {
  color: #fff;
}

.footer-post a:hover {
  text-decoration: underline
}

.footer-post p {
  color: #fff;
}
 
.ct-section_header--type2 img {
  /* display: inline-block; */
  float: right;
  position: relative;
  top: 15px;
  padding-right: 3px
}

.ct-section_header--type3 {
  text-align: center;
}

.ct-section_header--type3 small {
  font-family: 'coquette', fantasy;
  font-size: 50px;
  padding: 15px 0;
  font-weight: 700;
  color: #fff;
  background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block
}

.ct-section_header--type3 span {
  font-family: 'Bebas Neue';
  font-size: 150px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: .85
}
.ct-section_header + p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}

@media (max-width:479px) {
  .ct-section_header + p {
      font-size: 22px
  }
}

.ct-section_header--type4 + p {
  font-family: 'nimbus-sans-condensed', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

@media (max-width:479px) {
  .ct-section_header--type4 + p {
      font-size: 28px
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 0.9rem;
  height: 15vh;
  margin: auto;
  font-weight: 500;
  float: right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn1{
  background-color: #21D1B2;
}

.btn2 {
  background-color: #21D1B2
}

.btn1.btn1-violet:hover, :active {
  background-color: #37376b;
}

.btn2.btn2-violet:hover:active {
  background-color: #2f2f5b
}

#sectionFour .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#sectionFour .sectionTwo h2 {
  margin-bottom: 3rem;
}

#sectionFour .infoContainer {
  border-left: 1px dashed #0a0e27;
}

#sectionFour .info {
  margin-bottom: 3rem;
}

#sectionFour .info h3,
#sectionFour .info p {
  margin-bottom: 0.7rem;
}

#sectionFour .info > h3 {
  border-left: 3px solid #0a0e27;
  padding-left: 2rem;
}

#sectionFour .info > p {
  padding-left: 2rem;
  border-left: 3px solid #fff;
}

#sectionFour .info .grid {
  padding-left: 2rem;
  border-left: 3px solid #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 40rem;
}

.cyan {
  color: #00abab;
}
